<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />  @*linking the style sheet, validation styled in the css*@
</head>
<body>
    @*navigation bar to pages*@
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header ">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Index">Louie's Test </a>
            </div>
            <div class="collapse navbar-collapse " id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="~/Add">Add person</a></li>@*link to pages in the navbar*@
                    <li><a href="~/View">View </a></li>@*link to pages in the navbar*@
                </ul>

            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    <div class="container ">
        <footer>
            <br /><br />
            <p>&copy; @DateTime.Now.ToShortDateString() - <a href="/Index">Louie's Test Project</a></p>

        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


    @RenderSection("Scripts", required: false)

</body>
</html>
