
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*styling the validation*/
.field-validation-error {
    color: red;
}

.row {
    content: "";
    display: table;
    clear: both;
}

.column {
    float:left;
}